node_modules
.next
out
dist
.turbo
.vercel
*.local
*.log
*.pem
*.key
.env
.env*.local
!.env.example
.DS_Store
*.tsbuildinfo
coverage
package-lock.json
yarn.lock
pnpm-lock.yaml
*.swp
*.swo
.idea
.vscode
